.about {
  padding: 50px 0;
  &__statistic {
    margin-top: 60px;
  }
  &__descr {
    margin-top: 66px;
  }
}

@media(min-width: $decstop-width) {
  .about {
    padding: 135px 0;
    &__statistic {
      margin-top: 140px;
    }
    &__descr {
      margin-top: 130px;
    }
  }
}
