.contact {
  padding-top: 70px;
  padding-bottom: 50px;

  background-color: $green;
  box-shadow: 10px 10px 20px rgba($black, 0.1);
  &__form {
    margin-top: 50px;
  }
}

@media(min-width: $decstop-width) {
  .contact {
    padding: 140px 0;
    box-shadow: 10px 10px 80px rgba(74, 74, 74, 0.4);
    position: relative;
    bottom: -20px;
    &__form {
      margin-top: 110px;
    }
  }

}
