.descr {
  &__title {
    text-align: center;
    span {
      color: $black;
      font-weight: 900;
      text-transform: uppercase;
      &:nth-child(1) {
        opacity: .5;
        font-size: 40px;
        font-weight: 100;
        letter-spacing: 7px;
      }
      &:nth-child(3) {
        font-size: 18px;
        letter-spacing: 3px;
      }
      &:nth-child(5) {
        font-size: 33px;
        letter-spacing: 6px;
      }
    }
  }
  &__text {
    margin-top: 32px;

    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 2px;
    color: $black;

  }
}

@media(min-width: $decstop-width) {
  .descr {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    &__title {
      text-align: left;
      span {
        &:nth-child(1) {
          font-size: 88px;
          letter-spacing: 15px;
          line-height: 88px;
        }
        &:nth-child(3) {
          font-size: 41px;
          letter-spacing: 6px;
        }
        &:nth-child(5) {
          font-size: 74px;
          letter-spacing: 10px;
        }
      }
    }
    &__text {
      margin-top: 0;
      max-width: 560px;

      font-size: 14px;
      line-height: 38px;
      letter-spacing: 4px;

    }
  }
}
