.header{
  padding-top: 20px;
  padding-bottom: 22px;
  background-color: $white;
  width: 100%;
  z-index: 3;

  margin: 0 auto;
  position: fixed;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }


  &:after {
    content: '';
    width: 280px;
    height: 1px;
    background-color: $grey;

    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media(min-width: $decstop-width) {
  .header{
    padding: 0;
    &::after {
      width: 100%;
    }
  }
}
