.home{
  padding: 300px 0 50px;
  position: relative;
  overflow: hidden;

  &__title {
    display: none;
  }
  &__text {
    font-size: 14px;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: 2px;
  }
  &__img {
    width: 346px;
    height: 257px;
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translateX(59%);
  }
  .button {
    margin-top: 40px;
  }
}


@media (min-width: $decstop-width) {
  .home{
    padding: 212px 0 110px;

    &__title {
      font-weight: 900;
      font-size: 60px;
      letter-spacing: 10px;
      color: $black;
      display: block;
    }
    &__text {
      max-width: 558px;
      font-size: 15px;
      font-weight: 100;
      line-height: 30px;
      letter-spacing: 2px;

      margin-top: 53px;
    }
    &__img {
      width: auto;
      height: auto;
      position: absolute;
      top: 31px;
      right: 0;
      transform: translateX(0);
    }
    .button {
      margin-top: 40px;
    }
  }


}
