.nav {
  display: none;
}

@media(min-width: $decstop-width) {
  .nav {
    display: block;
    &__list {
      display: flex;
    }
    &__item {
      margin-left: 57px;
      height: 93px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background-color: $green;
        a {
          color: $white;
          font-weight: 400;
        }
      }
    }
    &__social {
      margin-left: 60px;
      display: flex;
      align-items: center;
    }
    a {
      color: $black;
      font-weight: 100;
      font-size: 12px;
      letter-spacing: 1px;
    }
    &__phone {
      font-weight: 700;
      padding-left: 25px;

      position: relative;
      &:before {
        content: url(/img/icons/phone-dark.png);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
