.services {
  .slider {
    &__inner {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
    }
    &__slide {
      opacity: 0.5;

      .img__wr {
        width: 42px;
      }
      .slider__title {
        display: none;
      }
      &-active {
        opacity: 1;
        .img__wr {
          width: 55px;
          height: 50px;
        }
      }
    }
    &__title {
      margin-top: 28px;

      font-weight: 100;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $green;

      padding-top: 18px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 26px;
        height: 0.5px;
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.distance {
  .slider {
    text-align: center;
    color: $green;

    &__slide {
      padding: 50px 0;
      display: none;

    background-color: #F6F6F6;

      &--active {
        display: block;
      }
    }
    .slide {
      &__title {
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 2px;
      }
      &__text {
        font-weight: 100;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 2px;

        margin-top: 34px;
      }
    }
  }
  .dots {
    display: flex;
    justify-content: center;

    margin-top: 40px;
    .dot {
      border: 1px solid $green;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      margin-right: 24px;
      &:nth-child(3) {
        margin-right: 0;
      }
      &-active {
        background-color: green;
      }
    }
  }
}

@media(min-width: $decstop-width) {
  .services {
    .slider {
      &__slide {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 367px;
        height: 341px;
        background-color: #f6f6f6;
        box-shadow: 10px 10px 45px rgba(0, 0, 0, 0.2);

        .img__wr {
          svg {
            width: 55px;
            height: 50px;
          }

        }
        .slider__title {
          display: block;
        }
        &-active {
          opacity: 1;
          .img__wr {
            width: 55px;
          }
        }
        &:hover {
          background-color: $green;
          .slider__title {
            color: $white;
          }
          .img__wr {
            svg {
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }
      &__title {
        font-size: 16px;
        line-height: 25px;

        padding-top: 28px;
        display: none;
      }
    }
  }

  .distance {
    .slider {
      &__inner {
        display: flex;
        justify-content: space-evenly;
        position: relative;
      }
      &__slide {
        min-width: 412px;
        height: 449px;
        padding-top: 74px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        opacity: 0.2;
        &--active {
          z-index: 1;
          opacity: 1;

          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          box-shadow: 10px 10px 80px rgba($black, 0.15);
        }
      }
      .slide {
        &__title {
          font-size: 23px;
          line-height: 30px;
        }
        &__text {
          line-height: 26px;
          letter-spacing: 3px;

          margin-top: 43px;

          max-width: 266px;
        }
      }
    }
    .dots {
      display: flex;
      justify-content: center;

      margin-top: 40px;
      .dot {
        border: 1px solid $green;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        margin-right: 24px;
        &:nth-child(3) {
          margin-right: 0;
        }
        &-active {
          background-color: green;
        }
      }
    }
  }
}
