.statistic {
  display: grid;
  grid-template-columns: 127px 127px;
  gap: 25px;
  &__item {
    text-align: center;
  }
  &__counter {
    font-weight: 900;
    font-size: 25px;
    color: $black;
  }
  &__descr {
    font-weight: 100;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1.5px;

    margin-top: 17px;
  }
}

@media(min-width: $decstop-width) {
  .statistic {
    grid-template-columns: repeat(4, 175px);
    gap: 146px;
    &__counter {
      font-size: 30px;
      letter-spacing: 6px;
    }
    &__descr {
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 2px;

      margin-top: 26px;
    }
  }
}
